@model Project_1640.Models.Comment

@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-action="Delete">
    <div class="form-group">
        <h2 class="text-primary">Delete Comment</h2>
        <hr />
    </div>
    <div class="form-group">
        <label asp-for="CommentText">Comment Text</label>
        <input asp-for="CommentText" disabled class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CommentDate">Comment Date</label>
        <label asp-for="CommentDate"></label>
        <input asp-for="CommentDate" disabled class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserId">User Id</label>
        <input asp-for="UserId" disabled class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IdeaId">Idea Id</label>
        <input asp-for="IdeaId" disabled class="form-control" />
    </div>
    <div class="mt-3">
        <a asp-controller="Idea" asp-route-id="@Model.IdeaId" asp-action="Details" class="btn btn-primary" style="width:150px">
            <i class="bi bi-arrow-left-short align-middle"></i>
            Back
        </a>
        <button type="submit" class="btn btn-danger" style="width:150px">
            <i class="bi bi-trash d-inline-block" style="margin-right: .4rem"></i>
            Delete
        </button>
    </div>
</form>