@using Project_1640.ViewModels;
@model IEnumerable<UsersViewModel>
@{
    ViewBag.Title = "Edit User Role";
}
@foreach (var user in Model)
{
<form method="post" asp-action="EditRole" asp-controller="Users">
    <div class="border p-3 mt-4 mx-auto" style="width:40%">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Topic</h2>
            <hr />
        </div>        
        <div class="mb-3">
            <label asp-for="@user.RoleId" class="form-label"></label>
                <select asp-for=@user.RoleId asp-items="@ViewBag.RolesList" class="form-select"><option disabled selected>--Please select role--</option></select>
                <span asp-validation-for="@user.RoleId" class="text-danger"></span>
        </div>        
        <a asp-controller="Topic" asp-action="Index" class="btn btn-secondary btn-danger" style="width:150px">
            <i class="bi bi-arrow-left-short align-middle"></i>
            Back
        </a>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
    </form>
}