@model Project_1640.ViewModels.UsersViewModel


<h1>Index</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-center">
                    <div class="btn-group border-start" role="button">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary rounded mx-3 align-middle">
                            <i class="bi bi-pencil-square align-middle" style="font-size:20px"></i>
                            Edit
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>