@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div>
    <h2 class="font-weight-bold py-3 mb-4">Account settings</h2>
    <hr />
    <div class="row" style="border:1px gainsboro solid; padding: 20px">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col text-center align-self-center" style="border-left:1px gainsboro solid">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
