@model IEnumerable<Project_1640.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Categories" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus d-inline-block align-middle" style="font-size: 1.25rem"></i>
                Create New Category
            </a>
        </div>
    </div>
<br />
<br />
<table class="table table-hover">
    <thead class="bg-gradient bg-primary text-white">
        <tr>
            <th>
                @Html.DisplayName("Category")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-outline-primary rounded mx-3 align-middle">
                        <i class="bi bi-pencil-square align-middle" style="font-size:20px"></i>
                        Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-outline-danger rounded align-middle">
                        <i class="bi bi-trash align-middle" style="font-size:20px"></i>
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
