@model Project_1640.Models.Idea

@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-action="Delete">
    <div class="form-group">
        <h2 class="text-primary">Delete Idea</h2>
        <hr />
    </div>
    <div class="form-group">
        <label asp-for="IdeaName">Idea Name</label>
        <input asp-for="IdeaName" disabled class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IdeaDescription">Idea Description</label>
        <input asp-for="IdeaDescription" disabled class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FilePath">File Path</label>
        <input asp-for="FilePath" disabled class="form-control" />
    </div>
    <div class="form-group mt-3">
        <a asp-controller="Idea" asp-route-id="@Model.IdeaId" asp-action="Details" class="btn btn-primary" style="width:150px">
            <i class="bi bi-arrow-left-short align-middle"></i>
            Back
        </a>
        <button type="submit" class="btn btn-danger" style="width:150px">
            <i class="bi bi-trash d-inline-block" style="margin-right: .4rem"></i>
            Delete
        </button>
    </div>
</form>
