@using Project_1640.ViewModels;
@model EditIdeaViewModel
@{
    ViewBag.Title = "Edit Idea";    
}
<form asp-controller="Idea" enctype="multipart/form-data" asp-action="Edit" method="post" class="mt-5 offset-3 col-6 border border-primary pt-2 pb-2 px-2 py-2">
    <input hidden asp-for="ID" />
    <div>
        <label asp-for="IdeaName" class="form-label"></label>
        <input asp-for="IdeaName" class="form-control" />
        <span asp-validation-for="IdeaName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="IdeaDescription" class="form-label"></label>
        <input asp-for="IdeaDescription" class="form-control" />
        <span asp-validation-for="IdeaDescription" class="text-danger"></span>
    </div>    
    <div>
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for=CategoryId asp-items="@ViewBag.CategoryList" class="form-select"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="AttachFile" class="form-label"></label>
        <input asp-for="AttachFile" class="form-control" />
    </div>
    <div class="row mt-2">
        <div class="col-3 d-grid">
            <button type="submit" class="btn btn-primary">Edit</button>
        </div>
        
    </div>
</form>