@using Microsoft.AspNetCore.Identity
@model IdentityRole

<div class="row">
    <div class="col-md-center">
        <form method="post">
            <h2 class="mt-3">Create Role</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Name" class="form-control" aria-required="true" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-lg active mt-3">Save</button>
        </form>
    </div>
</div>