@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Application Roles";
}
<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Role List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="AppRoles" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus d-inline-block align-middle" style="font-size: 1.25rem"></i>
            Create New Role
        </a>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">@Html.DisplayFor(modelItem=>item.Name)</td>
                <td class="text-center">
                    <a class="btn btn-outline-danger align-middle" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash align-middle d-inline-block" style="font-size:20px"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
